@font-face {
	/* Reference name */
	font-family: 'Archivo';
	/* For multiple files use commas, ex: url(), url(), ... */
	src: url('/fonts/Archivo-VariableFont_wdth,wght.ttf');
}

/*place global styles here */
:root {
    --theme-font-family-base: 'Archivo', sans-serif;
    --theme-font-family-heading: 'Archivo', sans-serif;
    /* ... */
}

html,
body {
	@apply h-full overflow-hidden;
}
